:root {
  --header-font: "ff-prater-sans-web", sans-serif;
  --body-font: "figgins-sans", sans-serif;

  --header: #00322a;
  --primary: #f8f6f1;
  --secondary: #dc520e;
  --tertiary: #b8dfff;

  --text-sm: 20px;
  --text-md: 28px;
  --text-lg: 35px;
  --text-xl: 47px;

  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
}

a:hover{
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: var(--header-font);
}

body {
  font-family: var(--body-font);
  background-color: var(--primary);
  margin: 0;
}


/* nav styling */
.nav-menu {
  display: none;
}

.nav-link {
  color: var(--primary);
  font-weight: var(--weight-700);
  font-size: var(--text-md);
}


/* nav dropdown styling  */
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: var(--header);
}

.dropdown-toggle {
  background-color: var(--header);
  border: none;
}

.dropdown-toggle:focus:active {
  background-color: var(--header);
  border: none;
}

.dropdown-menu {
  background-color: var(--header);
}

.dropdown-item {
  color: var(--primary);
}


/* header styling */
header {
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  margin-bottom: 0;
  top: 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.header-logo {
  max-width: 10em;
}

.header-tagline {
  display: none;
  font-family: var(--body-font);
  font-weight: var(--weight-700);
}


/* home section */

.home-container{
  height: 81vh;
}

.cta-button {
  font-family: var(--body-font);
  font-weight: var(--weight-700);
  background-color: var(--secondary);
  color: var(--primary);
  padding: 7px;
  display: flex;
  justify-content: center;
  border-radius: 500px;
  width: 250px;
  font-size: var(--text-lg);
}

.cta-button:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.home-cta {
  font-size: var(--text-lg);
}

.cta-emphasis{
  font-weight: var(--weight-700);
}

footer {
  background-color: var(--tertiary);
  color: black;
  padding: 15px;
  height: 140px;
}

.about-image {
  border-radius: 7px;
}
footer a {
  color: var(--secondary);
}

.section-title {
  color: var(--secondary);
}

.emphasis {
  font-weight: var(--weight-600);
}


@media (min-width: 992px) {
  html {
    scroll-padding-top: 4em;
  }

  section {
    scroll-margin-top: 4em;
  }

  header {
    background-color: var(--header);
    padding: 0.5em 3em;
    height: 7em;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  p {
    font-size: var(--text-sm);
  }

  hr {
    margin-top: 20px;
  }

  .header-tagline {
    display: flex;
    color: var(--tertiary);
    font-size: var(--text-lg);
  }
  .header-left {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .dropdown {
    display: none;
  }
  .nav-menu {
    display: flex;
  }

  .nav-menu a {
    color: var(--primary);
    font-size: var(--text-md);
    font-weight: var(--weight-600);
  }

  .nav-menu a:hover {
    background-color: var(--header);
    color: var(--tertiary);
  }

  .section-title {
    font-size: var(--text-xl);
  }

  .carousel-img {
    border-radius: 7px;
  }
  .home-cta {
    font-size: var(--text-xl);
  }
}
