:root {
  --header-font: "ff-prater-sans-web", sans-serif;
  --body-font: "figgins-sans", sans-serif;

  --header: #025548;
  --primary: #f8f6f1;
  --secondary: #dc520e;
  --tertiary: #b8dfff;

  --text-sm: 1.2em;
  --text-md: 1.7em;
  --text-lg: 2em;

  --weight-500: 500;
  --weight-600: 600;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: var(--header-font);
}

body {
  font-family: var(--body-font);
  background-color: var(--primary);
  margin: 0;
}

header {
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
  padding: 0.5em 1em;
  margin-bottom: 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.nav-menu {
  display: none;
}

.nav-link {
  color: var(--primary);
  font-weight: 700;
  font-size: 1.8em;
}

.header-logo {
  max-width: 10em;
}

.header-tagline {
  display: none;
}

.cta-button {
  font-family: "figgins-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 0.2em;
  display: flex;
  justify-content: center;
  border-radius: 12%/50%;
  width: 8em;
  font-size: var(--text-md);
}

.cta-button:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.home-cta {
  font-size: var(--text-md);
  padding: 4em 0;
}

footer {
  background-color: var(--tertiary);
  color: black;
  padding: 1em;
}

footer a {
  color: var(--secondary);
}

.dropdown {
  color: var(--header);
}

.sticker {
  display: none;
}

.carousel {
  z-index: -1;
}

@media (min-width: 992px) {
  .carousel {
    height: 88vh;
    top: 0;
  }

  .carousel-inner {
    height: 100%; /* Make the inner content of the carousel full height */
  }

  .carousel-item {
    height: 100vh; /* Set the height of each carousel item to full viewport height */
  }

  header {
    background-color: var(--header);
    padding: 0.5em 3em;
    height: 7em;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header-tagline {
    display: flex;
    margin-left: 7em;
    font-family: var(--header-font);
    color: var(--tertiary);
    font-size: var(--text-lg);
  }

  .dropdown {
    display: none;
  }
  .nav-menu {
    display: flex;
  }

  .nav-menu a {
    color: var(--primary);
    font-size: var(--text-md);
    font-weight: var(--weight-600);
  }

  .nav-menu a:hover {
    background-color: var(--header);
    color: var(--tertiary);
  }
  .header-logo {
    max-width: 13em;
    margin: -1.4em 0;
    position: absolute;
  }

  .carousel-img {
    width: 30em;
  }

  .sticker {
    z-index: 2;
    left: 17%;
    transform: rotate(-8deg);
    top: 80%;
    max-width: 20em;
    position: absolute;
    display: inline;
  }

  .logo2 {
    max-width: 14em;
    top: 50%;
    left: 15%;
    z-index: 1;
    transform: rotate(7deg);
  }
}

/* font-family: "ff-prater-sans-web", sans-serif;
font-weight: 700;
font-style: normal;

font-family: "figgins-sans", sans-serif;
font-weight: 400;
font-style: normal;

bold
font-family: "figgins-sans", sans-serif;
font-weight: 700;
font-style: normal;

italic
font-family: "figgins-sans", sans-serif;
font-weight: 400;
font-style: italic;*/
